.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem;
    margin-bottom: 5rem;
    gap: 5rem;

    > .banner-img {
        width: 50%;
        height: 45rem;
        
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .about-content {
        width: 50%;

        > h2 {
            font-size: 4.5rem;
            color: rgb(66, 66, 66);
        }

        > p {
            font-size: 1.5rem;
            line-height: 3rem;
            color: rgb(66, 66, 66);
        }
    }
}