@mixin cartCommon() {
    display: flex;
    padding: 2rem 0 2rem 7.5rem;
    font-size: 1.6rem;
    border-bottom: 1px solid black;
}

@mixin clearContinue($border, $background, $color) {
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px solid $border;
    background-color: $background;
    color: $color;
    padding: 1rem 2rem;
    cursor: pointer;
}

.cart-container {
    padding-top: 3rem;

    > .cart-head {
        @include cartCommon();
        justify-content: space-between;
        font-weight: bold;

        > .wid-25 {
            width: 25%;
        }

        > .item {
            padding-left: 3rem;
        }
    }

    .cart-details-container {
        > .cart-details {
            @include cartCommon();
            align-items: center;

            > .img-name {
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 25%;
    
                > img {
                    width: 5rem;
                    height: 5rem;
                }
            }

            > .quantity {
                display: flex;
                gap: 1.5rem;
            }

            > .wid-25 {
                width: 25%;
            }

            > .trash-btn {
                position: absolute;
                right: 2rem;
                border: none;
                color: brown;
                font-size: 3rem;
                background: none;
                cursor: pointer;
            }
        }
    }

    > .clear-continue {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 1rem;

        > .continue-shopping {
            @include clearContinue(brown, brown, white);
        }
        
        > .clear-shoppingcart {
            @include clearContinue(rgb(66, 66, 66), none, none);
        }
    }

    > .total-container {
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem;

        > .full-total {
            width: 40%;
    
            > .total {
                width: 100%;
                border: 1px solid rgb(66, 66, 66);
                border-radius: 5px;
    
                > .subtotal {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.9rem;
                    font-weight: bold;
                    margin: 3rem;
                } 
    
                > .shipping {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.7rem;
                    margin: 3rem;
                    padding-bottom: 3rem;
                    border-bottom: 1px solid rgb(66, 66, 66);
                }
    
                > .order-total {
                    display: flex;
                    justify-content: space-between;
                    font-size: 2rem;
                    margin: 3rem;
                } 
            }
    
            > .login {
                width: 100%;
                margin-top: 2rem;
                font-size: 1.5rem;
                letter-spacing: 3px;
                background-color: brown;
                color: white;
                border: 1px solid brown;
                border-radius: 3px;
                padding: .7rem;
                margin-bottom: 2rem;
                cursor: pointer;
            }
        }
    }
}