.footer-container {
    padding: 2.5rem;
    width: 100%;
    background-color: black;

    > p {
        font-size: 1.7rem;
        text-align: center;
        color: white;
        letter-spacing: 2px;

        > span {
            color: rgb(255, 165, 56);
        }
    }
}